.OrgBanner{
    width: 100%;
    height: 280px;
    background-color: #4f8eed;
    background-image: url(../../img/organisation/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.OrglistSearch,
.ProjectListBanner{
    margin:36px 0 20px;
    text-align: center;
    .ant-input-search{
        width: 600px;
        height: 60px;
        background-color: #ffffff;
        border-radius: 4px;
        border: solid 1px #b7b7e5;
    }

    .ant-input-affix-wrapper{
        height: 58px;
        border: none;

        input{
            font-size: 20px;
        }
    }

    .ant-input-search-button{
        height: 58px;
        border: none;

        .action-search{
            line-height: 70px;
        }

        svg{
            width: 1.5em;
            height: 1.5em;
        }
    }

}

.OrgTab{
    width: 100%;
    height: 64px;
	background-color: #3742b9;
    text-align: center;
    position: relative;
}

.Org{
    position: relative;
    background-color: #d8dff1;
    width: 100%;
    height: 100%;
    display: block;
    min-height: calc(~'100vh - 100px');
}

.OrgTabWrapper{
    position: relative;
}





.OrgTabItem{
   line-height: 64px;
	height: 100%;
	
    background-color: #3742b9;
    position: relative;
    padding: 0 25px;
    color:#fff;
   
    font-family: MicrosoftYaHei-Bold;
	font-size: 24px;
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
}

.OrgTabItem.activeTab{
   background-color: #1d8eff;
   transition: all 0.3s;
}

.OrgTabItem:hover{
    background: rgba(60,60,250,.596);
}

