.content1200{
    width: 1200px;
    position: relative;
    margin:0 auto;
    height: 100%;
}

.container,.wrapper,.content{
    position: relative;
    display: block;
  }
.content{
    // min-height: 100vh;
// min-height: calc(100vh - 130px);
margin-top: 64px;
}

