@media screen and (min-width: 750px)and (max-width: 1200px){
    .en{
        .headerContent{

            .headerTabItem{
                margin-left: 0;
                font-size: 12px;
            }

        }
    }
    
    .container{
        .content1200{
            width: 97vw;
        }
    }
    .index{
        .indexText{
            width: 80vw;
        }

    }
    .headerContent{
        .osscHeaderLogo{
            width: 40vw;
        }

        .headerTabItem{
            margin-left: 1.5vw;
            font-size: 14px;
        }

        .headerTabItem.org {
            width: 93%;
        }


    }

    

    .homepage{


        .homepageIconItemText{
            font-size: 16px;
            line-height: 20px;
        }

        .homepageBanner.Two{
            .homepageTitle{
                font-size: 60px;
            }
        }

        .homepageLogoImage{
            margin-bottom: 30px;
        }

    }
    .Help{
        .helpcontact{
            flex-direction: column;
        }
       

    }


    .Org{
        .ProjectListLC{
            font-size: 12px;        
            min-width:900px;      
        }

        .ProjectListLCWrapper{
            width: 100%;
            overflow-x: scroll;
        }
        .OrgTipItemContent{
            width: 97vw;
        }
        .OrgListItem:nth-child(3n+2) .OrgTipItemContent {
            left: auto;
        }
        
        .OrgListItem:nth-child(3n+3) .OrgTipItemContent {
            left: auto;
        }

        .OrgListItem:nth-child(odd) .OrgTipItemContent {
            left: 0;
        }

        .OrgListItem:nth-child(even) .OrgTipItemContent{
            left: calc(~'-97vw + 386px')
        }
    }

    .Projectlist{
        .PLOperationButton{
            width: 5.2rem;
        }
        .projectListItemLeft{
            width: 35vw;
        }
        .projectListItemRight{
            width: 60vw;
        }

        .orgProjectWiki{
            width: 95px;
            a{
                font-size: 14px;
            }
        }

        .orgProjectButton{
            padding-left: 18px;
            width: 122px;

        }

    }


    
    .Liveshow{

        
        .LiveshowBannerTitle{
            font-size: 50px;
            line-height: 50px;
        }

        .LiveshowBannerorg{
            font-size: 21px;
           
            line-height: 21px;
           
        }

        .LiveshowBannerText{
            font-size: 20px;
            line-height: 30px;
        }
    }
   

    html{
        font-size: 10px;
    }

    .en{
        .header{
            .headerTabItem {
                font-size: 12px;
                margin-left: 5px;
                font-weight: 500;
             
                display: inline-block;
            }

        }
       
    
    }

    
    
  
}

@media screen and (min-width: 750px)and (max-width: 796px){
    .OrgListItem .OrgTipItemContent {
        left: 0 !important;
    }

}