@media screen and (min-width: 750px)and (max-width: 1200px){
    
    .container{
        .content1200{
            width: 97vw;
        }
    }
    .index{
        .indexText{
            width: 80vw;
        }

    }
    .headerContent{
        .osscHeaderLogo{
            width: 40vw;
        }

        .headerTabItem{
            margin-left: 1.6vw;
            font-size: 15px;
        }

    }

    .homepage{
        .homepageBannerLine{
            display: inline;
        }

        .homepageIconItemText{
            font-size: 16px;
            line-height: 20px;
        }

        .homepageBanner.Two{
            .homepageTitle{
                font-size: 60px;
            }
        }

        .homepageLogoImage{
            margin-bottom: 30px;
        }

    }
    .Help{
        .helpcontact{
            flex-direction: column;
        }
       

    }

    .Org{
        .OrgTipItemContent{
            width: 97vw;
        }
        .OrgListItem:nth-child(3n+2) .OrgTipItemContent {
            left: auto;
        }
        
        .OrgListItem:nth-child(3n+3) .OrgTipItemContent {
            left: auto;
        }

        .OrgListItem:nth-child(odd) .OrgTipItemContent {
            left: 0;
        }

        .OrgListItem:nth-child(even) .OrgTipItemContent{
            left: calc(~'-97vw + 386px')
        }
    }

    .Projectlist{
        .projectListItemLeft{
            width: 35vw;
        }
        .projectListItemRight{
            width: 60vw;
        }

        .orgProjectWiki{
            width: 95px;
            a{
                font-size: 14px;
            }
        }

        .orgProjectButton{
            padding-left: 18px;
            width: 122px;

        }

    }
   

    
    
  
}

@media screen and (min-width: 750px)and (max-width: 796px){
    .OrgListItem .OrgTipItemContent {
        left: 0 !important;
    }

}