.LiveshowBanner {
  width: 100%;
  position: relative;
  background-color: #eef7ff;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url(../../img/liveshow/banner.png);
  background-size: 100% 100%;
  height: 400px;
}

.LiveshowBannerTitle {
  font-family: MicrosoftYaHei-Bold;
  font-size: 72px;
  line-height: 72px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #f5f6fa;
  padding: 85px 0 18px;
}

.LiveshowBannerorg {
  font-family: SourceHanSansCN-Medium;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffc90e;
  line-height: 30px;
  margin-bottom: 53px;
}

.LiveshowBannerText {
  font-family: MicrosoftYaHei;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 45px;
  letter-spacing: 0px;
  color: #ffffff;
}

.LiveshowBannerTitle {
  font-size: 49px;
  line-height: 59px;
  color: #000000;
  padding: 112px 0 6px;
}

.LiveshowBannerorg {
  color: #000000;
  font-size: 21px;
  line-height: 24px;
  margin-bottom: 20px;
}

.LiveshowBannerText {
  font-size: 24px;
  line-height: 34px;
  color: #000000;
}

.LiveShowWrapper {
  background-color: #f1f1f3 !important;
}

.LiveShowContentTitle {
  color: #000;
}

.LiveShowItemHeaderTitleOne {
  font-size: 20px !important;
  color: #000 !important;
}

.LiveShowWrapper .LiveShowItemHeaderTitleTwo {
  font-size: 16px;
  color: #4b9dfe;
}

.LiveShowWrapper .LiveShowItemHeaderTwoCode span {
  color: #4b9dfe;
}

.LiveShowWrapper .LiveShowItemHeaderButton {
  border-radius: unset;
  background-color: #4b9dfe;
  width: 96px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  padding: unset;
}

.LiveShowWrapper .LiveShowItemHeaderButton::before {
  content: "";
  width: 0;
  height: 0;
}

.LiveShowWrapper .LiveShowItemProfile .LiveShowItemProfileContent {
  font-size: 16px;
  line-height: 26px;
}
.LiveShowWrapper .LiveShowItemHeaderImage {
  height: 153px !important;
}
@media screen and (min-width: 100px) and (max-width: 750px) {
  .Liveshow .LiveshowBanner {
    background-image: url(../../img/liveshow/banner-h5.png);
    background-size: 100% 100%;
    height: 350px;
    padding-top: 55px;
  }

  .LiveshowBannerTitle {
    padding: unset;
    margin: 0 auto !important;
    text-align: center;
    color: #fff;
    font-size: 18px !important;
    line-height: 40px;
    width: 90%;
    margin: 0 auto;
    background-color: #006cc5;
    border-radius: 68px;
  }

  .Liveshow .LiveshowBannerorg {
    font-size: 13px;
    color: #000;
    line-height: 15px;
    margin-top: 17px;
    margin-bottom: 40px;
  }

  .Liveshow .LiveshowBannerText {
    width: 89%;
    text-align: center;
    color: #000000;
    font-size: 15px;
    line-height: 28px;
    margin: 0 auto;
  }

  .LiveShowContentTitle {
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    margin: 40px 0 20px;
    padding: 0 !important;
  }

  .LiveShowWrapper
    .LiveShowContent
    .LiveShowItem
    .LiveShowItemHeader
    .LiveShowItemHeaderTitle
    .LiveShowItemHeaderTitleOne {
    font-size: 16px !important;
    line-height: 26px !important;
    margin-bottom: 10px !important;
  }

  .LiveShowWrapper
    .LiveShowContent
    .LiveShowItem
    .LiveShowItemHeader
    .LiveShowItemHeaderTitle
    .LiveShowItemHeaderTitleTwo {
    font-size: 14px;
  }

  .LiveShowWrapper
    .LiveShowContent
    .LiveShowItem
    .LiveShowItemHeader
    .LiveShowItemHeaderTitle
    .LiveShowItemHeaderButton {
    width: 84px;
    height: 26px;
    font-size: 14px;
    line-height: 26px;
  }

  .LiveShowItemHeaderTwoCode img {
    width: 80px !important;
    height: 80px !important;
  }

  .LiveShowItemHeaderTwoCode {
    width: 80px !important;
    height: 80px !important;
  }

  .LiveShowWrapper .LiveShowItemProfile .LiveShowItemProfileContent {
    font-size: 14px;
    line-height: 26px;
  }

  .LiveShowWrapper .LiveShowItemHeaderImage {
    height: 125px !important;
  }
}
