


.projectListWrapper{
    position: relative;
  
}

.ProjectListPageState{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: MicrosoftYaHei;
	font-size: 20px;
    padding-bottom:22px;
    color:#666;
}

.ProjectListPageItemOne{
    margin-right: 40px;
}
.ProjectListPageItemSum{
    display: inline-block;
    color: #999999;
  
}

.ProjectListRank{
    position: relative;
    font-family: MicrosoftYaHei;
	font-size: 20px;
    line-height: 60px;
    color:#666;

}

.ProjectListRankItem{
    position: relative;
    display: inline-block;
    margin: auto 0 auto 20px;
    color: #666;
    line-height: 20px;
    cursor:pointer;
    transition: all 0.3s;
    
}

.ProjectListRankItem:first-child::after{
    content: "";
    position: relative;
    border-left: 2px solid #b0b2b9;
    right: -10px;
    height: 40px;
}

.ProjectListRankItem.selectOrder{
    color: #1d8eff;
}






.en{
    .ProjectListApplyState{
        line-height: 18px;
    }
    .ProjectListLCLine.Header {
        .ProjectListLCName{
            text-align: left;
        }
        .ProjectListLCCommunity{
            text-align: left;
            width: 220px;
        }

        .ProjectListLCDegree{
            width: 170px;
        }

        .ProjectListLCOperation{
            width: 168px;
            text-align: left;
        }

        .ProjectListLCLang{
            text-align: right;
        }

    }


    

    .ProjectListSelectItem.Degree .ProjectListSelectItemTitle{
        letter-spacing: 0;
        margin-right: 10px;
    }

}

.ProjectListApplyState{
    padding:2px 10px;
	height: auto;
	background-color: #13e493;
	border-radius: 10px;
    font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 20px;
	letter-spacing: 0px;
	color: #ffffff;
    text-align: center;
}



.ProjectListSelect{
    position: relative;
    width: 100%;
    background-color: #ffffff;
	border: solid 1px #a6a6a6;
    padding:0 10px;
    margin-bottom: 10px;
}

.ProjectListSelectItem{
    font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 36px;
	letter-spacing: 0px;
	color: #666666;

}

.ProjectListSelectItemContent{
    display: inline-block;
    margin-right: 12px;
    color: #2190ff;
    cursor: pointer;
    line-height: 12px;
    padding: 6px;
    border-radius: 5px;
}

.PLOperationButton{
    width: 90px;
	height: 24px;
	background-color: #4b9dfe;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    color:#fff;
    text-align: center;
    line-height: 24px;
    cursor:pointer
}

.PLOperationButton.show{
    .PLPopOver{
        opacity: 1;
        z-index: 1;
      
    }

}

.PLPopOver{
    font-size: 17px;
    position: absolute;
    background-color: #fff;
    padding:10px;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s;
    line-height: 31px;
    padding: 5px;
    min-width: 245px;
    color:#333;
    bottom: 25px;
    right: -12px;
    text-align: left;
}

.PLOperationButton.proapply{
  
    cursor: pointer;
}

.ProjectListSelectTagDe{
    background-color: #d7e3fa;   
    
}

.ProjectListSelectItem.Degree{
    .ProjectListSelectItemTitle{
        letter-spacing: 10px;
    }
}


.Projectlist{
    .ant-pagination-next,
    .ant-pagination-prev {
        width: 98px;
	    height: 38px;
        font-size: 18px;
        background-color: #1d8eff !important;
        line-height: 38px;
        a{
            color:#fff !important;
        }
        
    }
    .ant-pagination{
        padding:69px 0 30px
    }

    .ant-pagination-item{
        width: 38px;
        height: 38px;
        font-size: 18px;
        line-height: 38px;
        a{
            color: #1d8eff;
        }
    }

    
    .ant-pagination-prev :hover{
        background-color: #1d8eff !important;
       

        a{
            color:#fff !important;
        }
    }
}

.ProjectListLC{
    font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
    
}

.ProjectListLCLine{
    line-height: 36px;
    width: 100%;
    padding-left: 15px;
    height: 36px;
    display: flex;
    align-items: center;
}

.ProjectListLCLine.Item:nth-child(2n){
    background-color: #ebeef5;
}

.ProjectListLCLine.Item:nth-child(2n+1){
    background-color: #f4f7f9;
}



.ProjectListLCID{
    width: 110px;
    display: inline-block;
    color: #000000;
   
}

.ProjectListLCName{
    width: 450px;
    display: inline-block;
    color: #1d8eff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.ProjectListLCLang{
    width:100px;
    display: inline-block;
    text-align: center;
}

.ProjectListLCCommunity{
    width: 250px;
    display: inline-block;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.ProjectListLCDegree{
    width: 100px;
    display: inline-block;
    color: #000000;
    text-align: center;
}

.ProjectListLCOperation{
    width: 200px;
    display: inline-block;
    text-align: center;
    
}

.ProjectListLCOperation.Item{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.ProjectListLCLine.Header{
    height: 40px;
    line-height: 40px;
    background-color: #7485a7;
    span{
        color:#fff !important;
        cursor: default;
        
    }

    .ProjectListLCName,
    .ProjectListLCCommunity{
        text-align: center;
    }

}



