.header{
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 64px;
    position: fixed;
    z-index: 20;
    top:0;
}

.headerContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.osscHeaderLogo{
    position: relative;
    background-image: url(./../../img/logo_n.svg);
    width: 390px;
    height: 64px;
    background-size: contain;
    // margin-left: -10px;
    background-position: center;
    background-repeat: no-repeat;
}

.headerChiEn{
    position: relative;
    display: flex;
    font-size: 16px;
    color: #999999;
    line-height: 16px;

}
.headerChi{
    padding-right: 10px;
    cursor: pointer;
    transition: all 0.3s;
    border-right: 1px solid #999;

}

.headerEn{
    padding-left: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.header.chi{
    .headerChi{
        color: #333;
    }
}

.header.en{
    .headerEn{
        color: #333;
    }
}

