.footer{
    height: 100px;
    background-color: #16171a;
    position: relative;
    width: 100%;
    bottom: -21px;
}

.footerWrapper{
    line-height: 100px;
    position: relative;
    font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
    color: #a1a7b3;
    text-align: right;
}