.OrgDetail {
  padding-bottom: 140px;
}

.OrgDetailWrapper {
  padding-bottom: 88px;
  background-color: #fff;
}

.orgListNavBarItem {
  font-size: 20px;
  display: inline-block;
}

.OrgDetailState {
  position: relative;
  font-family: MicrosoftYaHei;
  font-size: 24px;
  padding-bottom: 30px;
  color: #666;
  display: flex;
  align-items: baseline;
  padding-left: 28px;

  .ProjectListPageItemOne {
    margin-right: 20px;
  }
}

.orgClick {
  cursor: pointer;
  color: #4d4dff;
}

.orgGrey {
  margin-left: 10px;
  color: #666;
}

@orgNavLinkHeight: 60px;
.OrgDetailNavLink {
  position: relative;
  text-align: left;
  height: 40px;
  line-height: @orgNavLinkHeight;
}

.orgClick {
  color: #006efe;
}
@media screen and (min-width: 100px) and (max-width: 750px) {
  .OrgDetailWrapper a[disabled] {
    color: #fff;
  }
  .OrgDetailWrapper ant-pagination a {
    color: #fff;
  }
  .OrgDetailState .ProjectListApplyState {
    line-height: 20px;
  }
  .Org .ant-pagination .ant-pagination-next a {
    color: #fff;
  }
  .Org .ant-pagination .ant-pagination-prev a {
    color: #fff;
  }
}
