.OrgDetail{
    margin-bottom: 140px;
}

.OrgDetailWrapper{
    padding-bottom: 88px;
    background-color: #fff;
}

.orgListNavBarItem{
    font-size: 20px;
    display: inline-block;
}

.OrgDetailState{
    position: relative;
    font-family: MicrosoftYaHei;
    font-size: 24px;
    padding-bottom: 30px;
    color: #666;
    display: flex;
    align-items: baseline;
    padding-left: 28px;

    .ProjectListPageItemOne {
        margin-right: 20px;
    }
}

.orgClick{
    cursor: pointer; 
    color: #4d4dff;
}

.orgGrey{
    margin-left: 10px;
    color: #666;
}

@orgNavLinkHeight: 60px;
.OrgDetailNavLink{
    position: relative;
    text-align: left;
    height: 40px;
    line-height: @orgNavLinkHeight;
}

.OrgDetailState .ProjectListApplyState {
    width: 220px;
    height: 26px;
    background: #E1E6F3;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.5);
    padding: 2px 0;
    line-height: 26px;
}
@media screen and (min-width: 100px) and (max-width: 750px) {
    .OrgDetailWrapper a[disabled] {
        color: #fff;
    }
    .OrgDetailWrapper ant-pagination a {
        color: #fff;
    }
    .OrgDetailState .ProjectListApplyState {
        line-height: 20px;
    }
    .Org .ant-pagination .ant-pagination-next a {
        color: #fff;
    }
    .Org .ant-pagination .ant-pagination-prev a{
        color: #fff;
    }
}
