.homepage{
    position: relative;
}

.homepageBanner{
    width: 100%;
    height: 526px;
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    box-sizing: border-box;
    
}

.homepageBanner.One{
    background-image: url(./../../img/index/banner3.png);
}

@bannertitlefontsize:4rem;
.homepageBannerTitle{
    font-family: MicrosoftYaHei-Bold;
	font-size: @bannertitlefontsize;
    line-height: @bannertitlefontsize;
	font-weight: normal;
	font-stretch: normal;
	color: #ffffff;
    padding:5.6rem 0 4rem;
}

.homepageBanner.Two{
    background-image: url(./../../img/index/banner.png);
    .homepageTitle{
        font-family: SourceHanSansCN-Bold;
        font-size: 76px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 4px;
        color: #ffffff;
        line-height: 76px;
    }
    .homepageTitleTime{
        font-family: AdobeHeitiStd-Regular;
        margin-top:56px;
        margin-bottom: 97px;
        line-height: 30px;
        font-size: 30px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #ffffff;
    }
    .homepageTitleGuide{
        font-family: SourceHanSansCN-Bold;
        font-size: 30px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #ffffff;
    }
    .homepageTiO{
        display: inline-block;
        border-bottom: 3px solid #fff;
        cursor: pointer;
    }
}



.ant-carousel .slick-slide {
    text-align: center;
    height: 100%px;
   
    overflow: hidden;
  }

.homepageText{
    padding-top:86px;
    font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
}
.homepageTextOne{
    width: 57rem;
    position: relative;
    margin:0 auto;

}

.homepageDesc{
    font-family: MicrosoftYaHei;
	font-size: 1.5rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 2.6rem;
	letter-spacing: 0px;
	color: #333333;
    text-align: center;
    margin-top: 7.86rem;
}
.homepageBannerFline{
    margin-bottom: 15px;
    font-family: MicrosoftYaHei;
	font-size: 1.6rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
    text-align: left;
    display: flex;
}

.homepageBannerFlineIcon{
    background-image:url(./../../img/index/iconf.png);
    width: 50px;
    height: 50px;
    background-color: #1772ea;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 13px;
    background-size: contain;
}

.homepageBannerFlineText{
    display: inline-block;
   
	background-color: #1772ea;
    width: 100%;
   
    padding: 6px 0 6px 15px;
}

.homepageTime{
    color: #ffcc00;
}
.homepageLinkguide{
    color: #00d8ff;
    border-bottom: 2px solid #00d8ff;

}
.homepageLinkguide:hover{
    color: #39cde8;
    border-bottom: 2px solid #39cde8;
}



.homepageWrapper{
    position: relative;
    background-color: #fff;
}

.homepageIconItemImageWrapper{
    
    width: 100%;
}

.homepageIconItemImage{
    width: 165px;
    height: 130px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto 20px;
    display: inline-block;
   

}


.homepageIconItem{
    text-align: center;
    
    flex: 1;
}

.homepageIcon{
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    margin: 60px 0 100px;
}

.homepageIconItemText{
    font-family: PingFang-SC-Medium;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 26px;
	letter-spacing: 1px;
	color: #525c66;
}

.homepageLogoTitle{
    font-family: PingFang-SC-Medium;
	font-size: 32px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
    color: #333333;
    margin-bottom: 35px;
}

.homepageLogoItemTitle{
    font-family: PingFang-SC-Medium;
	font-size: 18px;
	font-weight: 600;
	font-stretch: normal;
	letter-spacing: 1px;
    color: #333333;
    margin-bottom: 20px;
}

.homepageLogoImage{
    position: relative;
    width: 384px;
	height: 60px;
    background-color: #ffffff;
    margin-right: 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    cursor: pointer;
}

.homepageLogoImage.Host{
    background-image: url(./../../img/logo/iscas.jpg);
}

.homepageLogoImage.openeuler{
    background-image: url(./../../img/logo/openeuler.jpg);
}

.homepageLogoImage.nanjing{
    background-image: url(./../../img/logo/nanjing.jpg);
}

.CoopTitle{
    display: flex;
    align-items: normal;
    justify-content: space-between;
   
}
.CoopTitleRank{
    color:#666;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
}



.homepageLogoItemList{
    position: relative;
    margin-bottom: 38px;
}

.homepageLogoImage.cursordefault,
.homepagelogocoop.cursordefault{
    cursor: default;
}
.homepageLogoItemList.Coop{
    width: calc(~'100% + 25px');
}

.homepagelogocoop{
    width: 220px;
    height: 60px;
    margin-bottom: 40px;
    display: inline-block;
    margin-right: 25px;
    cursor: pointer;
}

.homepagelogoMedia{
    width: 220px;
    height: 60px;
    display: inline-block;
    margin-right: 25px;
    cursor: pointer;
}

.en{
    .homepageText{
        padding-top: 60px;
    }
    
    .homepageIconItemText{
        font-size: 16px;
        line-height: 20px;
    }

    .homepageBanner.Two{
        .homepageTitle{
            font-size: 3vw !important;
            letter-spacing: 0 !important;
        }
    }

    .homepageBannerFline{
        font-size: 18px;
        line-height: 30px;
    }

}