.homepage{
    position: relative;
}

.homepageBanner{
    width: 100%;
    height: 526px;
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    box-sizing: border-box;
    
}

.homepageBanner.One{
    background-image: url(./../../img/index/banner2.jpg);
}

.homepageBanner.Two{
    background-image: url(./../../img/index/banner.png);
    .homepageTitle{
        font-family: SourceHanSansCN-Bold;
        font-size: 76px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 4px;
        color: #ffffff;
        line-height: 76px;
    }
    .homepageTitleTime{
        font-family: AdobeHeitiStd-Regular;
        margin-top:56px;
        margin-bottom: 97px;
        line-height: 30px;
        font-size: 30px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #ffffff;
    }
    .homepageTitleGuide{
        font-family: SourceHanSansCN-Bold;
        font-size: 30px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #ffffff;
    }
    .homepageTiO{
        display: inline-block;
        border-bottom: 3px solid #fff;
        cursor: pointer;
    }
}

.emphasis{
    color: #ffe566;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 100%px;
   
    overflow: hidden;
  }

.homepageText{
    padding-top:86px;
    font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
}

.homepageBannerLine{
    margin-bottom:18px;
    line-height:20px;
    display: block;
}

.homepageWrapper{
    position: relative;
    background-color: #fff;
}

.homepageIconItemImageWrapper{
    border-right: 1px solid #c3c2cc;
    width: 100%;
}

.homepageIconItemImage{
    width: 165px;
    height: 130px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto 20px;
    display: inline-block;
   

}
.homepageIconItem:last-child{
    .homepageIconItemImageWrapper{
        border:none
    }
    
}

.homepageIconItem{
    text-align: center;
    
    flex: 1;
}

.homepageIcon{
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    margin: 60px 0 100px;
}

.homepageIconItemText{
    font-family: PingFang-SC-Medium;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 26px;
	letter-spacing: 1px;
	color: #525c66;
}

.homepageLogoTitle{
    font-family: PingFang-SC-Medium;
	font-size: 32px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
    color: #333333;
    margin-bottom: 35px;
}

.homepageLogoItemTitle{
    font-family: PingFang-SC-Medium;
	font-size: 18px;
	font-weight: 600;
	font-stretch: normal;
	letter-spacing: 1px;
    color: #333333;
    margin-bottom: 20px;
}

.homepageLogoImage{
    position: relative;
    width: 384px;
	height: 60px;
    background-color: #ffffff;
    margin-right: 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    cursor: pointer;
}

.homepageLogoImage.Host{
    background-image: url(./../../img/logo/iscas.jpg);
}

.homepageLogoImage.openeuler{
    background-image: url(./../../img/logo/openeuler.jpg);
}

.homepageLogoImage.nanjing{
    background-image: url(./../../img/logo/nanjing.jpg);
}

.CoopTitle{
    display: flex;
    align-items: normal;
    justify-content: space-between;
   
}
.CoopTitleRank{
    color:#666;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
}



.homepageLogoItemList{
    position: relative;
    margin-bottom: 38px;
}

.homepageLogoImage.cursordefault,
.homepagelogocoop.cursordefault{
    cursor: default;
}
.homepageLogoItemList.Coop{
    width: calc(~'100% + 25px');
}

.homepagelogocoop{
    width: 220px;
    height: 60px;
    margin-bottom: 40px;
    display: inline-block;
    margin-right: 25px;
    cursor: pointer;
}

.en{
    .homepageText{
        padding-top: 60px;
    }
    .homepageBannerLine{
        display: inline;
    }
    .homepageIconItemText{
        font-size: 16px;
        line-height: 20px;
    }

    .homepageBanner.Two{
        .homepageTitle{
            font-size: 3vw !important;
            letter-spacing: 0 !important;
        }
    }

}